<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-success mb-0">
            📦 Productos
        </h2>
        <a href="/productos/nuevo" class="btn btn-success">
            + Nuevo Producto
        </a>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-success">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Vencimiento</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td>
                        <span class="badge bg-secondary"
                              th:text="${producto.categoria}">
                        </span>
                    </td>
                    <td th:text="'S/ ' + ${producto.precio}"></td>
                    <td>
                        <span th:text="${producto.stock}"
                              th:class="${producto.stock < 10} ?
                              'badge bg-danger' : 'badge bg-success'">
                        </span>
                    </td>
                    <td th:text="${producto.fechaVencimiento}"></td>
                    <td>
                        <a th:href="@{/productos/entrada/{id}(id=${producto.id})}"
                           class="btn btn-success btn-sm me-1">
                            ⬆️ Entrada
                        </a>
                        <a th:href="@{/productos/editar/{id}(id=${producto.id})}"
                           class="btn btn-primary btn-sm me-1">
                            Editar
                        </a>
                        <a th:href="@{/productos/eliminar/{id}(id=${producto.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Seguro que deseas eliminar?')">
                            Eliminar
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>